/*
Add item to posters model
*/
.myomeka-additem-item{
    margin:15px;
    padding:15px;
    border-top:1px solid #000;
    overflow: auto;
    height: 100%
}
.myomeka-additem-image{
    float:left;
}
.myomeka-additem-details{
    float:left;
}